@page
@model FizzBuzz.Pages.Recently_SearchedModel
@{
    ViewData["Title"] = "Recently_Searched";
}

<div class="text-center" style="padding-top : 20px">
    <h1 style="padding-bottom : 10px">Historia obliczeń</h1>

    <div class="text-center row">
        <div class="col-md-3">
            <p><b>Wyniki</b></p>
        </div>
        <div class="col-md-3">
            <p><b>Wejścia</b></p>
        </div>
        <div class="col-md-3">
            <p><b>Data i czas</b></p>
        </div>
    </div>

    <p>@Model.FBdata[0].output</p>
    @foreach (var FB in Model.FBdata)
    {
        <hr style="width: 100%; margin-bottom: 10px; margin-top: 10px; border-top: 1px solid #C0C0C0">
        <div class="text-center row">
            <div class="col-md-3">
                <p>@FB.output</p>
            </div>
            <div class="col-md-3">
                <p>@FB.input</p>
            </div>
            <div class="col-md-3">
                <p>@FB.date</p>
            </div>
            <div class="col-md-3">
                <a href="/Delete?id=@FB.id">
                    <button class="btn btn-primary">Usuń</button>
                </a>
            </div>
        </div>
     }

</div>