@page
@model FizzBuzz.Pages.Recently_SearchedModel
@{
    ViewData["Title"] = "Recently_Searched";
}

<div class="text-center" style="padding-top : 20px">
    <h1 style="padding-bottom : 10px">Historia obliczeń</h1>

    <div class="text-center row">
        <div class="col-md-3">
            <p><b>Wyniki</b></p>
        </div>
        <div class="col-md-3">
            <p><b>Wejścia</b></p>
        </div>
        <div class="col-md-3">
            <p><b>Data i czas</b></p>
        </div>
    </div>

    @Html.Raw(Model.lblInfoText)

    </div>
