@page
@model FizzBuzz.Pages.Recently_SearchedModel
@{
    ViewData["Title"] = "Recently_Searched";
}

@foreach (Models.FizzBuzz_Data FBD in Model.FBlist)
{
<div class="text-center row">
    <div class="col-md-4">
        <p>@FBD.output</p>
    </div>
    <div class="col-md-4">
        <p>@FBD.input</p>
    </div>
    <div class="col-md-4">
        <p>@FBD.date</p>
    </div>
</div>
}

